body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--divider-color);
}

.form-control, .form-select {
    background-color: var(--input-bg-color);
    border: 1px solid var(--divider-color);
    color: #fff;
}

.form-control:focus, .form-select:focus {
    background-color: #3b4b5b;
    color: #fff;
    border-color: var(--primary-color);
    box-shadow: none;
}

.slot-card {
    border-left: 5px solid var(--primary-color);
}

.slot-card.booked {
    border-left: 5px solid #dc3545;
    opacity: 0.8;
}
