body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.home-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    text-decoration: none;
}

.home-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.card-container {
    perspective: 1000px;
    width: 100%;
    max-width: 400px;
    height: 600px;
}

.card-flip {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card-flip.flipped {
    transform: rotateY(180deg);
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--card-bg-color);
    border: 1px solid var(--divider-color);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}

.front { z-index: 2; transform: rotateY(0deg); }
.back { transform: rotateY(180deg); }

h2 {
    color: #ffffff;
    font-weight: bold;
}

.form-label {
    color: var(--text-color);
    font-weight: 500;
}

.flip-button {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.flip-button:hover {
    color: var(--buton-hover-color);
    text-decoration: underline;
}

.form-control {
    background-color: var(--input-bg-color);
    border: 1px solid var(--divider-color);
    color: #ffffff;
}

.form-control::placeholder {
    color: var(--disabled-text-color);
    opacity: 0.7;
}

.form-control:focus {
    background-color: #3b4b5b;
    border-color: var(--primary-color);
    color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.form-check-input {
    background-color: var(--input-bg-color);
    border-color: var(--divider-color);
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-check-label {
    color: var(--text-color);
}
